name: mlops-sagemaker
toolchainRegion: us-east-1
groups:
  - name: storage
    path: manifests/mlops-sagemaker/storage-modules.yaml
  - name: networking
    path: manifests/mlops-sagemaker/networking-modules.yaml
  - name: sagemaker
    path: manifests/mlops-sagemaker/sagemaker-modules.yaml
  - name: kernels
    path: manifests/mlops-sagemaker/kernels-modules.yaml
  - name: service-catalog
    path: manifests/mlops-sagemaker/service-catalog-modules.yaml
targetAccountMappings:
  - alias: primary
    accountId:
      valueFrom:
        envVariable: ADDF_PRIMARY_ACCOUNT_ID
    default: true
    parametersGlobal:
      dockerCredentialsSecret: aws-addf-docker-credentials
    regionMappings:
      - region: us-east-1
        default: true
