name: mwaa
path: git::https://github.com/awslabs/idf-modules.git//modules/orchestration/mwaa?ref=release/1.1.0&depth=1
parameters:
  - name: vpc-id
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: VpcId
  - name: private-subnet-ids
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: PrivateSubnetIds
  - name: dag-bucket-name
    valueFrom:
      moduleMetadata:
        group: optionals
        name: datalake-buckets
        key: ArtifactsBucketName
  - name: dag-path
    value: dags
  - name: airflow-version
    value: "2.4.3"
---
name: metadata-storage
path: modules/core/metadata-storage/
parameters:
  - name: glue-db-suffix
    value: vsidata
  - name: rosbag-bagfile-table-suffix
    value: Rosbag-BagFile-Metadata
  - name: rosbag-scene-table-suffix
    value: Rosbag-Scene-Metadata
---
name: opensearch
path: git::https://github.com/awslabs/idf-modules.git//modules/storage/opensearch?ref=release/1.1.0&depth=1
parameters:
  - name: opensearch_data_nodes
    value: 1
  - name: opensearch_data_nodes_instance_type
    value: r6g.large.search
  - name: opensearch_master_nodes
    value: 0
  - name: opensearch_master_nodes_instance_type
    value: r6g.large.search
  - name: opensearch_ebs_volume_size
    value: 50
  - name: encryption-type
    value: SSE
  - name: retention-type
    value: RETAIN
  - name: vpc-id
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: VpcId
  - name: private-subnet-ids
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: PrivateSubnetIds
---
name: eks
path: git::https://github.com/awslabs/idf-modules.git//modules/compute/eks?ref=release/1.6.0
dataFiles:
  - filePath: git::https://github.com/awslabs/idf-modules.git//data/eks_dockerimage-replication/versions/1.29.yaml?ref=release/1.6.0
  - filePath: git::https://github.com/awslabs/idf-modules.git//data/eks_dockerimage-replication/versions/default.yaml?ref=release/1.6.0
parameters:
  - name: replicated-ecr-images-metadata-s3-path
    valueFrom:
      moduleMetadata:
        group: replication
        name: replication
        key: s3_full_path
  - name: vpc-id
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: VpcId
  - name: controlplane-subnet-ids
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: PrivateSubnetIds
  - name: dataplane-subnet-ids
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: PrivateSubnetIds
  - name: eks-admin-role-name
    value: Admin
  - name: eks-poweruser-role-name
    value: PowerUser
  - name: eks-read-only-role-name
    value: ReadOnly
  - name: eks-version
    value: "1.29"
    # valueFrom:
    #   envVariable: GLOBAL_EKS_VERSION
  - name: eks-compute
    value:
      eks_nodegroup_config:
        - eks_ng_name: ng1 # General app workloads
          eks_node_quantity: 2
          eks_node_max_quantity: 5
          eks_node_min_quantity: 1
          eks_node_disk_size: 20
          eks_node_instance_type: "m5.large"
        - eks_ng_name: ng-gpu # GPU Workloads example
          eks_node_quantity: 0
          eks_node_max_quantity: 2
          eks_node_min_quantity: 0
          eks_node_disk_size: 100
          eks_node_instance_type: "g4dn.xlarge"
          use_gpu_ami: True
          eks_node_labels:
            usage: gpu
      eks_node_spot: False
      eks_secrets_envelope_encryption: False
      eks_api_endpoint_private: False
  - name: eks-addons
    value:
      deploy_aws_lb_controller: True # We deploy it unless set to False
      deploy_external_dns: True # We deploy it unless set to False
      deploy_aws_ebs_csi: True # We deploy it unless set to False
      deploy_aws_efs_csi: True # We deploy it unless set to False
      deploy_aws_fsx_csi: False # We deploy it unless set to False
      deploy_cluster_autoscaler: True # We deploy it unless set to False
      deploy_metrics_server: True # We deploy it unless set to False
      deploy_secretsmanager_csi: True # We deploy it unless set to False
      deploy_external_secrets: False
      deploy_cloudwatch_observability_addon: True # managed addon for observability
      deploy_cloudwatch_container_insights_metrics: False # We deploy it unless set to False
      deploy_cloudwatch_container_insights_logs: False
      cloudwatch_container_insights_logs_retention_days: 7
      deploy_adot: False
      deploy_amp: False
      deploy_grafana_for_amp: False
      deploy_kured: False
      deploy_calico: False
      deploy_nginx_controller:
        value: False
        nginx_additional_annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: "100.64.0.0/10,10.0.0.0/8"
      deploy_kyverno:
        value: False
        kyverno_policies:
          validate:
            - block-ephemeral-containers
            - block-stale-images
            - block-updates-deletes
            - check-deprecated-apis
            - disallow-cri-sock-mount
            - disallow-custom-snippets
            - disallow-empty-ingress-host
            - disallow-helm-tiller
            - disallow-latest-tag
            - disallow-localhost-services
            - disallow-secrets-from-env-vars
            - ensure-probes-different
            - ingress-host-match-tls
            - limit-hostpath-vols
            - prevent-naked-pods
            - require-drop-cap-net-raw
            - require-emptydir-requests-limits
            - require-labels
            - require-pod-requests-limits
            - require-probes
            - restrict-annotations
            - restrict-automount-sa-token
            - restrict-binding-clusteradmin
            - restrict-clusterrole-nodesproxy
            - restrict-escalation-verbs-roles
            - restrict-ingress-classes
            - restrict-ingress-defaultbackend
            - restrict-node-selection
            - restrict-path
            - restrict-service-external-ips
            - restrict-wildcard-resources
            - restrict-wildcard-verbs
            - unique-ingress-host-and-path
          # mutate:
          #   - add-networkpolicy-dns
          #   - add-pod-priorityclassname
          #   - add-ttl-jobs
          #   - always-pull-images
          #   - mitigate-log4shell
---
name: batch-compute
path: git::https://github.com/awslabs/idf-modules.git//modules/compute/aws-batch?ref=release/1.1.0&depth=1
parameters:
  - name: vpc-id
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: VpcId
  - name: private-subnet-ids
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: PrivateSubnetIds
  - name: batch-compute
    value:
      batch_compute_config:
        - env_name: ng1
          compute_type: ON_DEMAND
          max_vcpus: 4800
          desired_vcpus: 0
          order: 1
          instance_types:
             - "m5.xlarge"
        - env_name: ng2
          max_vcpus: 4800
          desired_vcpus: 0
          compute_type: SPOT
          order: 1
          # instance_types: #if not set, the code defaults to "optimal"
          #   - "m5.large"
        - env_name: ng3
          max_vcpus: 4800
          desired_vcpus: 0
          compute_type: FARGATE
          order: 1
---
name: neptune
path: git::https://github.com/awslabs/idf-modules.git//modules/database/neptune?ref=release/1.1.0&depth=1
parameters:
  - name: number-instances
    value: 1
  - name: vpc-id
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: VpcId
  - name: private-subnet-ids
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: PrivateSubnetIds
---
name: fsx-lustre
path: git::https://github.com/awslabs/idf-modules.git//modules/storage/fsx-lustre?ref=release/1.1.0&depth=1
parameters:
  - name: vpc-id
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: VpcId
  - name: private-subnet-ids
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: PrivateSubnetIds
  - name: fs_deployment_type
    value: PERSISTENT_1
  - name: storage_throughput
    value: 50
---
name: efs
path: git::https://github.com/awslabs/idf-modules.git//modules/storage/efs?ref=release/1.1.0&depth=1
parameters:
  - name: retention-type
    value: RETAIN
  - name: vpc-id
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: VpcId