# You will need to verify the proper versions
# of the libraries for your use case.
# Check the version of MWAA you are using and compare
# to these versions

apache-airflow~=2.8.1
apache-airflow-providers-amazon~=8.5.1
mypy-boto3-sqs
mypy-boto3-batch
certifi>=2023.7.22