apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: pipeline-support-binding
subjects:
- kind: ServiceAccount
  name: default-editor
  namespace: user
roleRef:
  kind: ClusterRole
  name: pipeline-support
  apiGroup: rbac.authorization.k8s.io