# You will need to verify the proper versions
# of the libraries for your use case.
# Check the version of MWAA you are using and compare
# to these versions

apache-airflow~=2.8.1
airflow-kubernetes-job-operator~=2.0.4
certifi>=2023.7.22