# You will need to verify the proper versions
# of the libraries for your use case.
# Check the version of MWAA you are using and compare
# to these versions

apache-airflow==2.8.0
apache-airflow-providers-amazon~=8.5.1
Flask-Cors
moto
mypy-boto3-sqs
mypy-boto3-batch
pytest-cov
pytest-spark
pyspark
Pillow~=10.0.1
sagemaker==2.180.0
emr_serverless @ https://github.com/aws-samples/emr-serverless-samples/releases/download/v1.0.1/mwaa_plugin.zip
