# You will need to verify the proper versions
# of the libraries for your use case.
# Check the version of MWAA you are using and compare
# to these versions

apache-airflow~=2.5.2
apache-airflow-providers-amazon
Flask-Cors
moto
mypy-boto3-sqs
mypy-boto3-batch
pytest-cov
pytest-spark
pyspark
sagemaker
