parameters:
  - name: eks-version
    value: "1.25"
    # valueFrom:
    #   envVariable: GLOBAL_EKS_VERSION
name: replication
path: modules/replication/dockerimage-replication/
dataFiles:
  - filePath: data/eks_dockerimage-replication/versions/1.25.yaml
  - filePath: data/eks_dockerimage-replication/versions/default.yaml
