name: mwaa
path: git::https://github.com/awslabs/idf-modules.git//modules/orchestration/mwaa?ref=release/1.14.0&depth=1
parameters:
  - name: vpc-id
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: VpcId
  - name: private-subnet-ids
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: PrivateSubnetIds
  - name: dag-bucket-name
    valueFrom:
      moduleMetadata:
        group: optionals
        name: datalake-buckets
        key: ArtifactsBucketName
  - name: dag-path
    value: dags
  - name: airflow-version
    value: "2.6.3"
---
name: batch-compute
path: git::https://github.com/awslabs/idf-modules.git//modules/compute/aws-batch?ref=release/1.14.0&depth=1
parameters:
  - name: vpc-id
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: VpcId
  - name: private-subnet-ids
    valueFrom:
      moduleMetadata:
        group: optionals
        name: networking
        key: PrivateSubnetIds
  - name: batch-compute
    value:
      batch_compute_config:
        - env_name: ng1
          compute_type: ON_DEMAND
          max_vcpus: 4800
          desired_vcpus: 0
          order: 1
          instance_types:
             - "m4.2xlarge"
             - "m4.xlarge"
             - "m4.4xlarge"
             - "m5.2xlarge"
             - "m5.xlarge"
             - "m5.4xlarge"
          ebs_config:
            ebs_iops: 16000
            ebs_size_gbs: 400
            ebs_type: io1
        - env_name: ng2
          max_vcpus: 4800
          desired_vcpus: 0
          compute_type: SPOT
          order: 1
          # instance_types: #if not set, the code defaults to "optimal"
          #   - "m5.large"
        - env_name: ng3
          max_vcpus: 4800
          desired_vcpus: 0
          compute_type: FARGATE
          order: 1
