aws-cdk-lib==2.189.1
aws-cdk.lambda-layer-kubectl-v29==2.0.0
constructs==10.3.0
cdk-nag==2.12.29
boto3~=1.40.46
pytest==7.4.3
pytest-cov==4.1.0
cdk_ecr_deployment==3.0.65
urllib3>=2.6.0
PyYAML==6.0.1
types-PyYAML==6.0.12